# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary original resource folders
/Egem Ekmas Guncellenecek Resimler
/Kagithane metro gorsel
/Turkcell resimler bitmis karisik
/Yfs modern. Guncellenecek gorseller
/eklenecek loogolar
/incelenecek porjeler
/turkcell bayi gisite cekilen resimler
/yfs_logo_css
